
#container{
    width: 320px;
    height: 460px;
    background-color: rgb(34, 34, 71);
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    
    
}


input{
    
    background-color: rgb(34, 34, 71);
    color: white;
    border: rgb(34, 34, 71) solid 0.5;
    width: 71px;
    height: 70px;
    box-shadow: 3px rgb(34, 34, 71);
    cursor: pointer;
    
}
#equal{
    width: 145px;
}
#display{
    width: 288px;
}
